body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: Itim, cursive;
    background-color: #f7f8f9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

#cards_star{
    color: #283ddd;
}

#title{
    position: absolute;
    width: 50%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    right: 0;
    left: 0;
    margin: auto;
}

#card_type{
    padding: 10px 50px;
}

#close_button {
    font-size: 1.2em;
    cursor: pointer;
    color: #6a6a6a;
    background: none;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
}

.flashcard{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.flip_card{
    position: relative;
    width: 50%;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    transform-style: preserve-3d;
    transition: 0.4s;
    box-shadow: 0px 0px 5px 0px #0000004d;
    cursor: pointer;
}

.side{
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.back{
    transform: rotateX(180deg);
}

.flip_card.flipped {
    transform: rotateX(180deg);
}

.edit_button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
}

.card_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    width: 90%;
    line-height: 1.3;
}

.card_footer {
    background-color: #27276b;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    border-radius: 0 0 20px 20px;
}

footer{
    margin: 0 auto 0 auto;
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 40px;
    background-color: #ececec;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.arrow:hover{
    background-color: #dedede;
}

.blur{
    color: #bfbfbf;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 40px;
    background-color: #ececec;
    border-radius: 20px;
    border: none;
}

.overplay {
    position: fixed;
    inset: 0;
    background-color: rgb(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
}

.show{
    opacity: 1;
    pointer-events: auto;
}

.modal{
    position: relative;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 45%;
}

.section-title{
    font-weight: bold;
    margin: 25px auto 15px auto;
    font-size: 20px;
}

.describe-container{
    height: 50%;
    padding: 10px 20px 0 20px;
}

.describe{
    display: flex;
    justify-content: center;
    color: #232323;
    font-size: 18px;
}

.button{
    border: none;
    border-radius: 10px;
    background-color: #283ddd;
    color: white;
    height: 35px;
    width: 50%;
    margin: 10px auto 0 auto;
    cursor: pointer;
}

.show-describe{
    color: #283ddd;
    cursor: pointer;
}

.show-describe:hover{
    color: red;
}